IMAGE {{ bg_name }} "bg/{{ bg_name }}.png" NONE
SPRITE {{ sprite_name }} "sprites/{{ sprite_name }}.png" 2 2 NONE

PALETTE {{ bg_name }}_pal "bg/ship.png"
PALETTE {{ sprite_name }}_pal "sprites/{{ sprite_name }}.png"
